  .header {
    @include page-grid;
    background-image: url('../image/background/header-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; // Comportamento padrão para mobile
    height: 100vh;

    @include on-tablet {
      background-size: 100% 100%;
    }

    &__menu {
      grid-column: 1/-1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;

      &-right {
        display: flex;
        gap: 40px;

        &>a {
          display: flex;
        }
      }
    }

    &-h1title {
      text-align: center;
      grid-column: 1/-1;
      @include h1-style;
    }
  }