.hours {
  @include page-grid;
  padding-block: 100px;

  &-container {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 32px;

    @include on-tablet {
      grid-column: 4/ -1;
      padding: 0px;
    }
    @include on-desktop{
      grid-column: 6/-2;
    }
  }

  &-title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }
    @include on-desktop{
      grid-column: span 5;
    }

    &-h2title {
      @include h2-style;
    }

    &-redsuptitle {
      @include redsub-style;
    }
  }

  &__content {
    grid-column: 1/-1;



    &-h3title {
      @include h3-style;
    }

    &-calendar {
      display: flex;
      gap: 24px;

      &>ul {
        list-style: none;
        display: flex;
        flex-direction: column;
      }
    }

    &-closed {
      padding-top: 16px;
    }

  }

}

.regularbold {
  @include regularbold-text;

}

.regular {
  @include regular-text;

}